.mint-tab-item-label{
	font-size: 14px;
}
.mint-tab-item{
	border-bottom: 3px solid #fff;
}
.mint-navbar .mint-tab-item.is-selected {
    border-bottom: 3px solid #1a73e1;
    color: #1a73e1;
    margin-bottom: -3px;
}
.mint-msgbox{
	width: 296px;
}
.mint-msgbox-confirm{
	color: #777;
}
.mint-indexlist-navitem  {
	margin-bottom: .3rem;
	flex-direction: flex-start;
}

