body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 14px;
}


.input {
  outline: none;
  border: none;
}

.w100 {
  width: 100%;
}

$color: (
  'primary': #1a73e1,
  'black': black, 
  'white': white,
  'gray1': #fafafa,
  'gray2': rgba(26, 26, 26, 0.5),
  'gray3': rgba(24, 18, 18, 0.7),
);
@each $key, $value in $color {
  .text-#{$key}{
    color: $value;
  }
  .bg-#{$key}{
    background-color: $value;
  }
}

@each $val in (left, center, right) {
  .text-#{$val}{
    text-align: $val;
  }
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1{
  flex: 1;
}
.flex-direction {
  flex-direction: row
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-item {
  width: 45%;
}

$flex-jc: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
  between: space-between,
  around: space-around
);

@each $jckey, $jcVal in $flex-jc {
  .jc-#{$jckey} {
    justify-content: $jcVal;
  }
}

$flex-ai: (
  'start': flex-start,
  'end': flex-end,
  'center': center,
);

@each $aiKey, $aiVal in $flex-ai {
  .ai-#{$aiKey} {
    align-items: $aiVal;
  }
}

$text-size-base: 1rem;
$text-size: (
  xs: 0.8571,
  sm: 1,
  md: 1.1429,
  lg: 1.4286,
  xl: 1.7143,
);
@each $key, $val in $text-size {
  .text-#{$key} {
    font-size: $val * $text-size-base;
  }
}


$spacing-types: (
  m: margin,
  p: padding
);
$spacing-directions: (
  t: top,
  r: right,
  l: left,
  b: bottom,
);
$spacing-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);
$spacing-size-base: 1rem;

@each $typeKey, $typeVal in $spacing-types {
  @each $directionKey, $directionVal in $spacing-directions {
    @each $sizeKey, $sizeVal in $spacing-sizes {
      .#{$typeKey}#{$directionKey}-#{$sizeKey}{
        #{$typeVal}-#{$directionVal}: $sizeVal * $spacing-size-base;
      }
    }
  }
  @each $sizeKey, $sizeVal in $spacing-sizes {
    .#{$typeKey}x-#{$sizeKey}{
      #{$typeVal}-left: $sizeVal * $spacing-size-base;
      #{$typeVal}-right: $sizeVal * $spacing-size-base;
    }
    .#{$typeKey}y-#{$sizeKey}{
      #{$typeVal}-top: $sizeVal * $spacing-size-base;
      #{$typeVal}-bottom: $sizeVal * $spacing-size-base;
    }
    .#{$typeKey}-#{$sizeKey}{
      #{$typeVal}: $sizeVal * $spacing-size-base;
    }
  }
}

$text-weight: (
  1: 100,
  2: 200,
  3: 300,
  4: 400,
  5: 500,
  6: 600,
  7: 700,
  8: 800,
  9: 900,
);

@each $key, $val in $text-weight {
  .text-weight-#{$key} {
    font-weight: $val;
  }
}

.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}

$pos-sizes: (
  0: 0,
  1: 0.25,
  2: 0.5,
  3: 1,
  4: 1.5,
  5: 3,
);

$pos-size-base: 1rem;
@each $directionVal in (left, top, right, bottom) {
  @each $sizeKey, $sizeVal in $pos-sizes {
    .#{$directionVal}-#{$sizeKey} {
      #{$directionVal}: $sizeVal * $pos-size-base;
    }
  }
}

.nav-active {
  color: #1a73e1;
  font-weight: 700;
}
.singer-active {
  color: #fff;
  background: #1a73e1;
  border-radius: .6rem;
}

.text-rap {
  overflow: hidden;
  text-overflow: ellipsis; 
  display:-webkit-box; 
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2; 
}

.fl {
  float: left;
}

.w40 {
  width: 40%;
}

.ls{
  list-style-type:decimal !important
}

.lh{
  line-height: 3rem;
}
.fw{
  font-weight: bold;
}